<footer class="bg-gray-100 p-4">
  <div class="container mx-auto">
    <ul class="flex justify-center gap-4">
      <li><a href="#" class="hover:underline">利用規約 / プライバシーポリシー / お問合せ</a></li>
    </ul>
  </div>
</footer>
